<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="quad-section">
        <h2 class="text-center quad-section-title">Quote Requests</h2>
        <div class="panel panel-default order-card">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Account Name
                </th>
                <th>
                  Requested By
                </th>
                <th colspan="2">
                  Requested on
                </th>
                <th>
                </th>
              </tr>
            </thead>
            <tbody ng-repeat="item in AQC.requestedQuotes">
              <tr>
                <td>
                  {{item.Order.User.Account.account_name}}
                </td>
                <td>
                  {{item.Order.User.first_name}} {{item.Order.User.last_name}}
                </td>
                <td colspan="2">
                  {{item.Order.createdAt}}
                </td>
                <td ng-click="AQC.showDetails(item)">
                  {{item.showText}} Quote Details
                </td>
              </tr>
              <tr ng-show="item.showDetails">
                <td colspan="5">
                  <div class="panel panel-default details-table">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Machine Serial #
                          </th>
                          <th>
                            Part Number
                          </th>
                          <th>
                            Quantity
                          </th>
                          <th>
                            Price
                          </th>
                          <th>

                          </th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th colspan="3">
                            <strong>Total:</strong>
                          </th>
                          <th colspan="2">
                            ${{item.total}}
                          </th>
                        </tr>
                        <tr>
                          <td colspan="5">
                            <h4>Comments</h4>
                            <div class="comment-box">

                            </div>
                            <form class="" action="index.html" method="post">
                              <div class="form-group">
                                <label for="comments" ng-click="AQC.showComments(item)">Add Comment</label>
                                <textarea name="comments" id="comments" class="form-control" rows="4" ng-show="item.showCommentBox" ng-model="AQC.activeComment"></textarea>
                              </div>
                              <div class="form-group" ng-show="item.showCommentBox">
                                <input class="btn btn-default admin-quote-form-btn" type="button" name="addComment" value="Add Comment" ng-click="AQC.addComment(item)">
                              </div>
                            </form>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="5">
                            <button class="btn btn-default btn-success admin-quote-form-btn" type="button" name="submit" ng-click="AQC.submitQuote(item)">Submit Quote Details</button>
                            <button class="btn btn-default admin-quote-form-btn" type="button" name="cancel" ng-click="AQC.showDetails(item)">Cancel</button>
                          </td>
                        </tr>
                      </tfoot>
                      <tbody ng-repeat="machine in item.machines">
                        <tr>
                          <td colspan="5">
                            Machine Serial: {{machine}}
                          </td>
                        </tr>
                        <tr ng-repeat="part in item.details[machine]">
                          <td>

                          </td>
                          <td>
                            {{part.number}}
                          </td>
                          <td>
                            {{part.quantity}}
                          </td>
                          <td>
                            <p ng-hide="part.editMode">
                              {{part.price}}
                            </p>
                            <input type="text" name="name" value="" ng-show="part.editMode" ng-model="part.tempPrice">
                          </td>
                          <td>
                            <button class="btn btn-default" ng-hide="part.editMode" ng-click="AQC.editModeChng(part)">Edit Price</button>
                            <button class="btn btn-default" ng-show="part.editMode" ng-click="AQC.editModeChng(part)" type="button" >Cancel</button>
                            <button class="btn btn-default" ng-show="part.editMode" ng-click="AQC.addPrice(item, part, part.tempPrice); AQC.updateTotal(item)" type="button" >Update</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div> <!-- end of container -->
