/* General Use */

.light {
  font-weight: lighter;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
    padding-left: 15px;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*dash page css*/



.need-help {
    margin-top: 10px;
}
.new-account {
    display: block;
    margin-top: 10px;
}

.panel-order .row {
    border-bottom: 1px solid #ccc;

}

.panel-order .row:last-child {
    border: 0px;

}

.panel-order .row .col-md-1 {
    text-align: center;
    padding-top: 15px;

}

.panel-order .row .col-md-1 img {
    width: 50px;
    max-height: 50px;

}

.panel-order .row .row {
    border-bottom: 0;

}

.panel-order .row .col-md-11 {
    border-left: 1px solid #ccc;
}

.panel-order .row .row .col-md-12 {
    padding-top: 7px;
    padding-bottom: 7px;
}

/*.panel{
  width: 825px;
  margin-left: 10px;
}*/

.panel-order .row .row .col-md-12:last-child {
    font-size: 11px;
    color: #555;
    background: #efefef;
}

.panel-order .btn-group {
    margin: 0px;
    padding: 0px;
}

.panel-order .panel-body {
    padding-top: 0px;
    padding-bottom: 0px;

}

.panel-order .panel-deading {
    margin-bottom: 0;

}
/*Quote form css*/
.quoteForm{
    max-width: 330px;
    padding: 15px;
    margin-right: 50px;
}
/*Quote Form Added table*/
.quoteAdded{
    max-width: 800px;
    height: 500px;
    padding: 15px;
    margin-right: 50px;
    float:right;
}

.panelq{
  width:330px;
  float:right;
  margin-right: 10px;
}

.getclose{

}

.containerDash{
  width: 500px;
  margin-left: 30px;
}
.addfields{
  margin-left: 5px;
  margin-bottom: 15px;
  text-align: center;

}
.addbutton{
  text-align: center;
}

#left{
  float:left;
}
#right{
  float:right;
}
#addQuote{
  width: 200px;
  margin-left: 75px;
}
#divP{
  padding: 0;
  display: inline-block;
}
#divQ{
  padding:0;
  display: inline-block;
}
#div1{
  display:inline-block;
  margin-top: 5px;

}
#div2{
  display:inline-block;
  margin-top: 5px;


}
#div3{
  display:inline-block;
  margin-top: 5px;


}
#div4{
  display:inline-block;
  margin-top: 5px;


}
#div5{
  display:inline-block;
  margin-top: 5px;


}
#divQ1{
  display:inline-block;
  margin-top: 5px;

}
#divQ2{
  display:inline-block;
  margin-top: 5px;

}
#divQ3{
  display:inline-block;
  margin-top: 5px;

}
#divQ4{
  display:inline-block;
  margin-top: 5px;

}

#divQ5{
  display:inline-block;
  margin-top: 5px;
}

/* ------ User Dash ------- */

.user-nav > li {
  border-bottom: solid 1px rgb(232, 161, 39);
  margin-left: 1rem;
}

.panel-link-lv:hover {
  cursor: pointer;
  background-color: rgb(175, 175, 175);
}

.quote-page {
  background-color: rgb(240, 240, 240);
}




/* ------ Admin Dash ------ */

.admin-nav {
  margin-top: 2rem;
}

.admin-quote-form-btn {
  float: right;
  margin-left: 1rem;
}

.quad-section {
  margin-top: 10px;
  padding: 20px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.quad-section-title {
  margin-bottom: 20px;
}

/* Module Classes */
.admin-mod-default {

}

.admin-mod-active {
  background-color: rgb(236, 82, 75);
  color: rgb(236, 82, 75);
}

.admin-mod-inactive {
  display: none;
}

.order-card {
  margin: 10px;
}

.details-table {
  border-color: rgb(64, 147, 173);
  background-color: rgb(88, 153, 167)
}
