<div class="quad-section">
  <h2 class="text-center quad-section-title">Orders</h2>
  <div class="panel panel-default order-card">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Account Name
          </th>
          <th>
            Order Placed By
          </th>
          <th colspan="2">
            Order Submitted on
          </th>
          <th>

          </th>
        </tr>
      </thead>
      <tbody ng-repeat="item in orders">
        <tr>
          <td>
            {{item.account}}
          </td>
          <td>
            {{item.user}}
          </td>
          <td colspan="2">
            date goes here
          </td>
          <td ng-click="showDetails(item)">
            {{item.showText}} Order Details
          </td>
        </tr>
        <tr ng-show="item.showDetails">
          <td colspan="5">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    Part Number
                  </th>
                  <th>
                    Quantity
                  </th>
                  <th>
                    Price
                  </th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th colspan="2">
                    <strong>Total:</strong>
                  </th>
                  <th colspan="1">
                    ${{item.total}}
                  </th>
                </tr>
                <tr>
                  <th colspan="3" ng-click="showComments(item)">
                    Show {{item.comments.length}} Comments
                  </th>
                </tr>
                <tr ng-repeat="comment in item.comments" ng-show="item.showCommentBox">
                  <td colspan="3">
                    {{comment.text}}
                  </td>
                </tr>
              </tfoot>
              <tbody ng-repeat="machine in item.details">
                <tr>
                  <td colspan="3">
                    Machine Serial: {{machine.machine_serial_num}}
                  </td>
                </tr>
                <tr ng-repeat="part in machine.parts">
                  <td>
                    {{part.number}}
                  </td>
                  <td>
                    {{part.quantity}}
                  </td>
                  <td>
                    ${{part.price}}
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
