<h2 class="text-center">Quote Requests</h2>
<div class="account-wall">
  <div class="panel panel-default order-card" ng-repeat="item in quotes">
    <h2>{{item.account}}</h2>
    <h4>Submitted by: {{item.user}}</h4>
    <h5 ng-click="showDetails(item)">{{item.showText}} Order Details</h5>
    <div class="order-details" ng-show="item.showDetails">
      <table class="table table-striped">
        <thead>
          <th>
            Part Number
          </th>
          <th>
            Quantity
          </th>
          <th>
            Price
          </th>
          <th>

          </th>
        </thead>
        <tfoot>
          <tr>
            <th colspan="2">
              <strong>Total:</strong>
            </th>
            <th colspan="2">
              $xx.xx
            </th>
          </tr>
          <tr>
            <td colspan="4">
              <button class="btn btn-default btn-success quote-submit-btn" type="button" name="button">Submit Quote Details</button>
            </td>
          </tr>
        </tfoot>
        <tbody ng-repeat="machine in item.details">
          <tr>
            <td colspan="4">
              <h6>Machine Serial Number: {{machine.machine_serial_num}}</h6>
            </td>
          </tr>
          <tr ng-repeat="part in machine.parts">
            <td>
              {{part.number}}
            </td>
            <td>
              {{part.quantity}}
            </td>
            <td>
              <p ng-hide="part.editMode">
                {{part.price}}
              </p>
              <input type="text" name="name" value="" ng-show="part.editMode" ng-model="part.tempPrice">
            </td>
            <td>
              <button class="btn btn-default" ng-hide="part.editMode" ng-click="editModeChng(part)">Edit</button>
              <button class="btn btn-default" ng-show="part.editMode" ng-click="editModeChng(part)" type="button" >Cancel</button>
              <button class="btn btn-default" ng-show="part.editMode" ng-click="addPrice(part, part.tempPrice)" type="button" >Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
