<div class="container" ng-controller= "accountController">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
                <form method="POST" action="#" role="form" data-toggle-"validator" name="frm" class="register">
                    <div class="form-group">
                        <h2>Request Account</h2>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="signupName">Your name</label>
                        <input id="signupName" retype="name" name="name" required maxlength="50" class="form-control" ng-model="user.name" class="help-block">
                        <span ng-show="frm.name.$invalid && frm.name.$pristine && frm.name.$error.required">Required</span>

                    </div>
                    <div class="form-group">
                        <label class="control-label" for="signupEmail">Email</label>
                        <input id="signupEmail"
                               type="email"
                               name="email"
                               ng-model="user.email"
                               required maxlength="50"
                               class="form-control">
                        <span ng-show="frm.email.$dirty && frm.email.$error.required" >Required</span>
                        <span ng-show="frm.email.$dirty && frm.email.$error.email" >Not an email</span>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="signupPassword">Password</label>
                        <input id="signupPassword"
                               type="password"
                               name = "password"
                               ng-model="user.password"
                               ng-minlength="6"
                               ng-maxlength="50"
                               required
                               maxlength="25"
                               class="form-control"
                               placeholder="at least 6 characters"
                               length="40">
                      <span ng-show="frm.password.$dirty && frm.password.$error.required">Required</span>
                      <span ng-show="frm.password.$dirty && frm.password.$error.minlength">Minimum of 6 characters</span>
                      <span ng-show="frm.password.$dirty && frm.password.$error.maxlength">too Long!</span>

                    </div>
                    <div class="form-group">
                        <label class="control-label" for="signupPasswordagain">Password again</label>
                        <input id="signupPasswordagain" type="password" maxlength="25" class="form-control">
                    </div>
                    <div class="form-group">
                        <button id="signupSubmit" ng-disabled="frm.$invalid" type="submit" class="btn btn-info btn-block">Request your account</button>
                    </div>
                    <p class="form-group">By filling out this form you are not creating an account but requesting that you are an approved dealer. <a href="#">Terms of Use</a> and our <a href="#">Privacy Policy</a>.</p>
                    <hr>
                    <p></p>Already have an account? <a href="/#/">Sign in</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
