<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active"><a href="#">Dashboard</a></li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 admin-nav">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a ng-click="ADC.defaultView()">Dashboard</a></li>
        <li role="presentation"><a ng-click="ADC.moduleActive('quotes')">Quote Requests</a></li>
        <li role="presentation"><a ng-click="ADC.moduleActive('subQuotes')">Submitted Quotes</a></li>
        <li role="presentation"><a ng-click="ADC.moduleActive('orders')">Orders</a></li>
        <li role="presentation"><a ng-click="ADC.moduleActive('shipOrders')">Shipped Orders</a></li>
      </ul>
    </div>

    <div class="col-md-10">
      <div class="row">
        <div ng-class="{ 'admin-mod-inactive': ADC.adminModuleStatuses.quotes['admin-mod-inactive'], 'col-md-6': ADC.adminModuleStatuses.quotes['admin-mod-default'], 'col-md-12': ADC.adminModuleStatuses.quotes['admin-mod-active'] }">
          <admin-quotes quotes="ADC.ordersData.requestedQuotes" ></admin-quotes>
        </div>
        <div ng-class="{ 'admin-mod-inactive': ADC.adminModuleStatuses.orders['admin-mod-inactive'], 'col-md-6': ADC.adminModuleStatuses.orders['admin-mod-default'], 'col-md-12': ADC.adminModuleStatuses.orders['admin-mod-active'] }">
          <admin-orders orders="ADC.ordersData.orders"></admin-orders>
        </div>
      </div>
      <div class="row">
        <div ng-class="{ 'admin-mod-inactive': ADC.adminModuleStatuses.subQuotes['admin-mod-inactive'], 'col-md-6': ADC.adminModuleStatuses.subQuotes['admin-mod-default'], 'col-md-12': ADC.adminModuleStatuses.subQuotes['admin-mod-active'] }">
          <admin-sub-quotes quotes="ADC.ordersData.submittedQuotes"><admin-sub-quotes>
        </div>
        <div ng-class="{ 'admin-mod-inactive': ADC.adminModuleStatuses.shipOrders['admin-mod-inactive'], 'col-md-6': ADC.adminModuleStatuses.shipOrders['admin-mod-default'], 'col-md-12': ADC.adminModuleStatuses.shipOrders['admin-mod-active'] }">
          <admin-ship-orders orders="ADC.ordersData.shippedOrders"></admin-ship-orders>
        </div>
      </div>
    </div>
  </div>



</div>
